[Bb]in/
[Oo]bj/
[Dd]eploy/
[Bb]uild/
*.user
*.suo
_ReSharper.*
*.sln.cache
*.xap
*.vspcc
*.vscc 
*.vssscc
[Pp]ackages/
*.sdf
*.log
*.log.*
[Tt]emp*/
*.Publish.xml
*.ReSharper
[Bb]uild/[Aa]rchive/
src/Aika.smp
build/SourceMonitor-details.xml
build/SourceMonitor-summary.xml
build/Aika.smp